*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #c595b6 0%, #5f357a 75%, #321247 100%);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote{
    padding: 20px 50px;
    color: #5f89fa;
}
button{
    margin-top: 110px;
    position: fixed;
    border: none;
    background-color: #eca114;
    color: #fff;
    padding: 10px;
    /* width: 100px; */
    border-radius: 10px;
}